<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExamenBri.My.MySettings.TiendasConnectionString" connectionString="Data Source=LAPTOP-VGDL05P4\SQLEXPRESS;Initial Catalog=Tiendas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ExamenBri.My.MySettings.masterConnectionString" connectionString="Data Source=LAPTOP-VGDL05P4\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>